.navbar{
	background-color: #390000;
}
.navbar a:hover{
	background-color: #5a0a0a;
}
.navbar-toggler{
	background-color: white;
}
#navbarDropdown{
	color:white;
}
.dropdown-item:hover{
	color:  white;
}
.collapse{
	margin-left: 5px;
}
.table{
	margin-top: 15%;
}
.container{
	margin-top: 2%;
}
.footer{
	color: white;
	background-color: #390000;
	width: 100%;
	height: 20%;
	margin-top: 15%;
	margin-bottom: 1%;
}
.background{
	background: url('photo/background/knowledge-1052011_1920.jpg') no-repeat fixed;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%; 
}