.navbar {
  top: 0%;
  position: fixed;
  width: 100%;
  color: white;
}

/* CSS HOME */
.jumbotron {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 247px;
  padding-bottom: 252px;
}

.nama {
  font-size: 50px;
  color: white;
}

.garis {
  width: 620px;
  background-color: white;
}

.lead {
  font-size: 30px;
  color: white;
}
/* AKHIR CSS HOME */

/* CSS PROFILE */
/* AKHIR CSS PROFILE */
