/* CSS HOME */
a {
  color: #8c653e;
  text-decoration: none;
}

a:hover {
  color: black;
}

.jumbotron {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 225px;
}

.nama {
  font-size: 50px;
  color: white;
}

.garis {
  width: 620px;
  background-color: white;
}

.lead {
  font-size: 30px;
  color: white;
}
/* AKHIR CSS HOME */

/* CSS PROFILE */
/* AKHIR CSS PROFILE */

/* CSS EXPERIENCES */

#experiences {
  background-color: #e8e0d8;
}

.btn {
  border: 1px solid #8c653e;
  color: #8c653e;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: #8c653e;
  color: white;
  border: 1px solid #8c653e;
}
/* AKHIR CSS EXPERIENCES */
