body {
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar-toggler:focus {
  box-shadow: none;
}

a {
  color: #8c653e;
  text-decoration: none;
}

a:hover {
  color: black;
}

#jumbotron {
  background-color: transparent;
  padding-top: 290px;
  padding-bottom: 295px;
}

#profile {
  background-color: white;
}

#experiences {
  background-color: #e8e0d8;
}

#contact {
  background-color: #49423c;
}

#contact a {
  color: white;
}

#contact a:hover {
  color: black;
}
